body {
    background-image: url(../img/fantaya.jpg);
    background-size: cover;
    font-family: var(--bs-body-font-family);
}

.tablas {
    display: flex;
    padding: 15px;
}

.menu {
    display: inline;
    flex-flow: row wrap;
    justify-content: space-between;
    color: rgb(4, 243, 251);
}