p {
    font-family: $mainFont;
    font-size: $textMd;
    font-weight: $fontBold;
}

.tablas {
    display: flex;
    padding: $paddingMedio;
}

body {
    background-image: url(../img/fantaya.jpg);
    background-size: cover;
    animation: textAlpha 1.5s;
}
@keyframes textAlpha {
    from {
        opacity: 0;
        transform: translateY(-20px);
        color: transparent;
    }
    to {
        opacity: 1;
        transform: translateY(0);
        color: #333;
    }
}

h2 {
    transition: background-color 0.3s ease; 
}

h2:hover {
    background-color:red;
}

iframe:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
}
