p {
    font-family: $mainFont;
    font-size: $textMd;
    font-weight: $fontBold;
}

.tablas {
    display: flex;
    padding: $paddingMedio;
}

body {
    animation: textAlpha 1.5s;
}
@keyframes textAlpha {
    from {
        opacity: 0;
        transform: translateY(-20px);
        color: transparent;
    }
    to {
        opacity: 1;
        transform: translateY(0);
        color: #333;
    }
}

h2 {
    transition: background-color 0.3s ease; 
}

h2:hover {
    background-color:red;
}

iframe:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
}



.error-container {
    margin-left: 100px;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}


.error-container h1, .error-container p, .error-container a {
    color: #333; 
    font-family: Arial, sans-serif; 
}

.error-container a {
    text-decoration: none;
    font-weight: bold;
    color: red;
}

.error-container a:hover {
    text-decoration: underline;
    color: blue;
}

.tablas:hover {
    color: yellow;
}

ul.list-unstyled {
    list-style-type: none;
}

.bg-white {
    background-color: white; 
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.footer-text {
    background-color: white; 
    padding: 5px 5px; 
    height: 30px;
}

.container {
    padding: 10px;
}

.foot {
    padding: 10px;
}
