//variables

$mainColor:deeppink;
$secondaryColor:blue;
$keyColor:black;
$white:white;

//fonts
$mainFont:'Roboto', sans-serif;

//sizes texto
$textSm:0.8em;
$textMd:1em;
$textXl:2em;
$textXxl:3em;

//fontweight
$fontLight:300;
$fontRegular:400;
$fontBold:600;

//padding
$paddingChico:10px;
$paddingMedio:30px;
$paddingGrande:50px;

